<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div> &copy; Travelectra Pvt Ltd</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/term">Terms</a>
        </div>
    </div>
</footer>