<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelectra</title>
</head>

<body>
    <h1>Listing</h1>
    <form action="/listing/new" method="get"><button>CREATE</button></form>
    
    <ul>
        <%for (list of listing){%>
            <li>
                <a href="/listing/<%= list._id %>"><%= list.title %></a>
            </li>
            <%}%>
    </ul>
</body>

</html>