<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <form action="/listing" method="post">
        <label for="title">Title : </label>
        <input name="listing[title]" type="text"  placeholder="Enter Title" required> <br>
        <label for="description">Description : </label> <br>
        <textarea name="listing[description]" rows="10" cols="50"  placeholder="Enter the property description" required></textarea> <br>
        <label for="image">Image Link : </label> <br>
        <input name="listing[image]" type="text"  placeholder="Enter the Image Link" ></textarea><br>
        <label for="price">Price : </label>
        <input name="listing[price]" type="number"  placeholder="Enter price" required> <br>
        <label for="location">Location : </label>
        <input name="listing[location]" type="text"  placeholder="Enter Location" required> <br>
        <label for="country">Country : </label>
        <input name="listing[country]" type="text"  placeholder="Enter Country" required> <br>
        <button>SUBMIT</button>
    </form>
    
</body>
</html>